img.banner-image {
    width: 100%;
}

.banner {
    margin-top: 3rem;
    position: relative;
}

div.banner-box {
    /* Center */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;

    border: 2px solid white;
    background: rgba(2, 2, 2, 0.6);
    color: white;
    text-align: center;

    /* Overlay on top of the image */
    z-index: 1;
}

div.banner-box p {
    font-family: Arial;
    font-style: italic;
    margin-top: 10%;
    margin-bottom: 1rem;
    line-height: 0.6;
    font-size: 2.0rem;
}

div.banner-box p:first-child {
    margin-top: 12%;
}

div.banner-box .banner-text-fancy {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
}

#white-line {
    width: 20%;
    margin-top: 18%;
    margin-left: 40%;
    margin-right: 40%;
    border-top: 1px solid white;
}
