.show-me-now-button,
button:active {
    text-transform: none;
    color: #fff;
    background: #f75c74;
    border-color: #f75c74;
}

.show-me-now-button,
button:hover {
    text-transform: none;
    color: #fff;
    background: #f75c74;
    border-color: #f75c74;
}

.show-me-now-button {
    text-transform: none;
    background: #f75c74;
    border-color: #f75c74;
    color: #fff;
    font-size: 1.5rem;

    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

#fb-message {
    margin-top: -1.2rem;
}
