#progressbar {
    width: 100%;
    height: 5px;
    padding: 2px;
    margin: .6em 0;
    border-top: 1.5px #f75c74 solid;
    border-bottom: 1.5px #f75c74 solid;
    clear: both;

    /*-- Tune the position a bit --*/
    margin-top: 50%;
}

#progress {
    /*-- Color of the bar --*/
    background: #f75c74;
    height: 5px;
    width: 0%;
    max-width: 100%;
    float: left;
    -webkit-animation: progress 6s 1 forwards;
    -moz-animation: progress 6s 1 forwards;
    -ms-animation: progress 6s 1 forwards;
    animation: progress 6s 1 forwards;
}

@-webkit-keyframes progress {
    from { }
    to { width: 100% }
}

@-moz-keyframes progress {
    from { }
    to { width: 100% }
}

@-ms-keyframes progress {
    from { }
    to { width: 100% }
}

@keyframes progress {
    from { }
    to { width: 100% }
}

#pending-footer {
    position: fixed;
    bottom: 0px;
    border-top: 1px #ddd solid;
    padding-top: 1rem;
    width: 80%;
    left: 40%;
    margin-left: -30%;
}